// pages_{{fileName}}
<template>
  <div>

  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export default class {{ className }} extends Vue {
  static created() {
    console.log('component created');
  }
}

</script>

<style lang="scss" scoped>

</style>
